In [1]:
#Import libraries.
import pandas as pd

In [2]:
weather=pd.read_csv('../dataset/weather.csv')
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [3]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   object
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   object
 5   Depart       2944 non-null   object
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   object
 8   Heat         2944 non-null   object
 9   Cool         2944 non-null   object
 10  Sunrise      2944 non-null   object
 11  Sunset       2944 non-null   object
 12  CodeSum      2944 non-null   object
 13  Depth        2944 non-null   object
 14  Water1       2944 non-null   object
 15  SnowFall     2944 non-null   object
 16  PrecipTotal  2944 non-null   object
 17  StnPressure  2944 non-null   object
 18  SeaLevel     2944 non-null   object
 19  ResultSpeed  2944 non-null   float64
 20  ResultDir    2944 non-null   int64
 21  AvgSpeed     2944 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [4]:
weather.Date = pd.to_datetime(weather.Date)

In [5]:
# identifying non-numeric columns to check for missing values
check_missing_values = weather.select_dtypes(include='object').columns
check_missing_values

Index(['Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset',
       'CodeSum', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure',
       'SeaLevel', 'AvgSpeed'],
      dtype='object')

In [6]:
# checking for non-numeric columns with missing values by Station
for col in weather[check_missing_values]:
    station_1 = len(weather[(weather[col].str.contains('M'))| (weather[col].str.contains('-')) & (weather.Station==1)])
    print (col + ' has ' + str(station_1) + ' missing values at station 1')
    station_2 = len(weather[(weather[col].str.contains('M')) | (weather[col].str.contains('-')) & (weather.Station==2)])
    print (col + ' has ' + str(station_2) + ' missing values at station 2')
    print ('')

Tavg has 11 missing values at station 1
Tavg has 11 missing values at station 2

Depart has 2028 missing values at station 1
Depart has 1472 missing values at station 2

WetBulb has 4 missing values at station 1
WetBulb has 4 missing values at station 2

Heat has 11 missing values at station 1
Heat has 11 missing values at station 2

Cool has 11 missing values at station 1
Cool has 11 missing values at station 2

Sunrise has 0 missing values at station 1
Sunrise has 1472 missing values at station 2

Sunset has 0 missing values at station 1
Sunset has 1472 missing values at station 2

CodeSum has 3 missing values at station 1
CodeSum has 3 missing values at station 2

Depth has 1472 missing values at station 1
Depth has 1472 missing values at station 2

Water1 has 2944 missing values at station 1
Water1 has 2944 missing values at station 2

SnowFall has 1472 missing values at station 1
SnowFall has 1472 missing values at station 2

PrecipTotal has 2 missing values at station 1
PrecipTotal has 2 missing values at station 2

StnPressure has 4 missing values at station 1
StnPressure has 4 missing values at station 2

SeaLevel has 9 missing values at station 1
SeaLevel has 9 missing values at station 2

AvgSpeed has 3 missing values at station 1
AvgSpeed has 3 missing values at station 2

In [7]:
#Dropping columns with most null values.
weather.drop(columns=['Depth','Water1','SnowFall'],inplace=True,axis=1)

In [8]:
# function to impute values for T and M values and change dtype to float in weather df.
def impute(column):
    weather[column] = weather[column].map(lambda x:x.replace('T','0.0001'))
    weather[column] = weather[column].map(lambda x:x.replace('M','0.0'))
    weather[column] = weather[column].astype(float) 
    
# function to convert columns from object dtype to float.
def convert(column):
    weather[column] = weather[column].astype(float)

In [9]:
# calling above created function to impute values & change dtype for the following columns
impute('PrecipTotal')
impute('Tavg')
impute('Depart')
impute('Heat')
impute('Cool')
impute('WetBulb')
impute('AvgSpeed')
impute('StnPressure')
impute('SeaLevel')

# calling above created function change dtype to int
convert('StnPressure')

In [10]:
#we split the codesum column into separate binary columns for each individual code:
codesums  = set(weather.CodeSum.str.split(' ').map(tuple))

codes = set()
for cs in codesums:
    for code in cs:
        codes.add(code)
codes.discard('')
codes = list(codes)

In [ ]:
def build_df_codesum(row, codes):
    cs = set(row['CodeSum'].split())
    code_out = [int(code in cs) for code in codes]
    code_out = pd.Series(data=code_out, index=codes)
    return code_out

weather[codes] = weather.apply(lambda row:build_df_codesum(row, codes), 1)

In [ ]:
#Drop the original column.
weather.drop('CodeSum', 1, inplace=True)

In [ ]:
#Dropping duplicate columns.
weather= weather.drop_duplicates()

In [ ]:
weather.info()

In [ ]:
weather.to_csv('../dataset/weather_cleaned.csv')

In [ ]:
spray=pd.read_csv('../dataset/spray.csv')
spray.head()

In [ ]:
spray.info()

In [ ]:
#Convert date datatype.
spray.Date = pd.to_datetime(spray.Date)

In [ ]:
spray = spray.drop(columns='Time')

In [ ]:
#Dropping duplicate columns.
spray = spray.drop_duplicates()

In [ ]:
spray.to_csv('../dataset/spray_cleaned.csv')